@import url('https://fonts.googleapis.com/css?family=Abel');

body, html {
  color: #fff;
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  font-size: 1.2em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.collegebatch.com/static/clg-gallery/manipur-university-imphal-254272.jpg) center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
}

.top-right-image {
    position: absolute;
    top: 45px; /* Distance from the top of the page */
     
    width: 124px; /* Adjust the size of the image */
    height: auto; /* Maintain aspect ratio */
    z-index: 1000; /* Ensure it stays above other elements */
}
.custom-alert {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
			border-radius: 20px;
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 20px;
            width: 300px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 1000;
        }

        /* Close button styling */
        .custom-alert button {
            background-color: #f5c6cb;
            border: none;
            color: #721c24;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 10px;
            float: right;
        }

        /* Overlay to disable background interactions */
        .custom-alert-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
        }

.text-box {
  background-color: rgb(253 253 253 / 83%);
  font-family:Castellar;
  border-radius: 20px;
  margin: 2em auto;
  padding: 20px;
  width: 90%;
}
.thirdbox{
  color: black;
  background-color: rgba(224, 242, 183, 0.83);
  border-radius: 20px;
  margin: 2em auto;
  padding: 20px;
  width: 90%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  color:#000000;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 1em;
  font-weight: bold;
}

p {
  display: block;
  margin: 0;
  color:#000000;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}

hr {
  width: 70%;
  margin: 10px auto;
}

.container {
  background-color:#0b182f5e;
  border-radius: 20px;
  margin: auto;
  width: 90%;
  padding: 1em;
  
}
.note{
 
  font-style: italic;
  

}

#Addemmision-form {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

fieldset {
border: none;
border-top: 2px solid#b1d9c1;
}


.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  vertical-align: top;
  margin-top: 20px;
}

.input-tab {
  display: inline-block;
  text-align: left;
  width: 50%;
  margin-left: 10px;
  
}

.countrycode{
	display: inline-block;
  text-align: left;
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom:-10px;
}

.form{
	text-align: center;
	font-family: monospace;
	
}


.input-field {
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 18px 0 0 10px;
  border: 1px solid #e67e22;
  border-radius: 4px;
  font-family: inherit;
  font-size: 15px;
  font-weight: bold;
}

::-webkit-input-placeholder {
   font-style: italic;
  font-weight: 300;
}

input {
  margin: 7px;
}

.form-group {
	display:inline-block;
    margin-bottom: 15px;
}
input[type="file"] {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.preview {
    display: block;
    margin-top: 10px;
    max-width: 15%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#dropbox {
  width: auto;
  padding: 5px;
  margin: 20px 0 10px 10px;  
  border: 1px solid #e67e22;
  border-radius: 3px;
  font-family: inherit;
  font-size: 15px;
}
.btn {
  width: 100%;
  text-align: center;
  margin: 20px;
}

button {
  background-color: #045113;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  padding: 10px 15px;
  border: 1px solid;
}

button:hover {
  background-color: #bf6516;
}




@media only screen and (max-width: 768px) {
  body{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://wallpapercave.com/wp/Fdh76FQ.jpg) center no-repeat fixed;
  background-size: cover;
}
  
  h1 {
    font-size: 2em;
  }
  
  .labels {
    width: 100%;
    text-align: left;
  }
  .input-tab {
    width: 100%;
    float: left;
    margin-left: -10px;
  }
  .input-field {
    width: auto;
  }
  select {
    width: 100%;
  }
  .btn {
    width: 100%;
    margin: auto;
  }
}
 .nav{
  margin-left: 20px;  
  
  padding:5px;
  color: #fff;
   border:#045113;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
   cursor: pointer;
   background: #1b4e37;
   transition: 0.2s ease;
 }
 .navbar{
  margin-left: 37%;
 }