
body {
  background-image: url('../img/5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

  /* Flexbox for perfect centering */
/*  display: flex;
/*  justify-content: center;
/*  align-items: center;  /* Vertical center */
  /*height: 100vh;        /* Full height of viewport */
  margin: 0;
}

.card {
    width: 18rem;
    border: 2px solid #ccc;
    border-radius: 90px;
    text-align: center;
    padding: 15px;
    background-color: rgb(195 207 211 / 85%); /* Slight transparent bg for readability */
    box-shadow: 0px 0px 20px 14px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}

.card a {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    background: #007bff;
    color: white;
}

.card a:hover {
    background: #0056b3;
}

fieldset {
    border: none; /* Remove ugly border around cards */
}

/* Navigation bar container */
.navbar {
    width: 100%;
    height: 55px;
    background:rgb(2 164 185); /* transparent dark background */
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0 30px;
    position: fixed;  /* stays at top */
    top: 0;
    left: 0;
    z-index: 1000;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column-reverse;
}

/* Logo */
.nav-logo img {
    height: 50px;
}

/* Navigation links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 10;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #00bfff; /* light blue hover */
}

/* Add space so content doesn't hide under navbar */
body {
    padding-top: 60px;
}


.campusnest-box {
  background-color: rgba(226 229 241 / 83%);
  font-family:'Times New Roman', Times, serif;
  border-radius: 20px;
  position: relative ;
  padding: 0px;
  width: auto;
 text-align: center;      /* Keep content centered */
    z-index: 2; 
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  color:#000000;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 5px;
  line-height: 1em;
  font-weight: bold;
}

p {
  display: block;
  margin: 0;
  color:#000000;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2em;
}

hr {
  width: 70%;
  margin: 5px auto;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    
}